.navigation{
  color: aliceblue;
    margin-left: 50;
    position: fixed;
  bottom: 100;
  right: 100;
  width: 300px;
  
}

.block{
    background-color: rgb(31, 17, 1);
    font-size: 24px;
    padding: 15px 25px;
    color: antiquewhite;
}

.header4{
    color: orange;
}

.column{
    float: left;
    width: 50%;
  }
  
  
  .row:after{
    content: "";
    display: table;
    clear: both;
  }

  .image1{
    position: relative;
    left: 100px;
    margin-top: 30px;
    margin-right: 50px;
    width: 600px;
    height: auto;
  }

  .about {
    color: rgb(226, 174, 3);
  }
  
  .star{
    position: relative;
    bottom: 50px;
    right: 100px;
  }

  .p{
  font-size: 48px;
  background-color: #150300;
 display: inline-block;
 margin: 15px;
 text-transform: uppercase;
 padding: 10px;
 text-align: center;
  }

  .about{
    position: relative;
    top: 100px;
  }

  .box {
    width: 200px; 
    height: 200px;
    border: 1px solid black; 
    display: flex; 
    justify-content: center;
    align-items: center;
  }

  .box p {
    text-align: center; /* center-align the text */
    margin: 0; /* remove any default margins */
  }